  <div class="signup-header">
    <h2>Sign up or <%= render "devise/shared/links" %></h2>
  </div>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class="new-form">
      <%= devise_error_messages! %>
      <div class="user-signup">
        <div class="field">
          <%= f.label :name %><br />
          <%= f.text_field :name, autofocus: true %>
        </div>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>
      </div>

      <div class="map-info-signup">
        <div class="field">
          <%= f.label :location_lat %><br />
          <%= f.text_field :location_lat, autofocus: true, class:"lat"%>
        </div>

        <div class="field">
          <%= f.label :location_lon %><br />
          <%= f.text_field :location_lon, autofocus: true, class:"lon"%>
        </div>

        <div class="field">
          <%= f.label :radius_kilometers %><br />
          <%= f.text_field :radius, autocomplete: "off", class:"rad" %>
        </div>
        <div class="actions">
          <%= f.submit "Sign up" %>
        </div>
      </div>
      <div class="map-signup">
        <h5>Click on map to set Catering Region (Uses selected radius)</h5>
        <div id="mapid"></div>
      </div>
    </div>
  <% end %>



<script type="text/javascript">
  var lat = document.querySelector('.lat');
  var lon = document.querySelector('.lon');
  var rad = document.querySelector('.rad');
  var circle = undefined;
  var addCircle = function (event) {
    circle = L.circle(event.latlng, {
    color: 'red',
    fillColor: '#f03',
    fillOpacity: 0.5,
    radius: rad.value*1609.34
    }).addTo(mymap);
    circle.bindPopup("Your selected catering region.");
  }
  var mymap = L.map('mapid').setView([51.505, -0.115], 8);
  L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
      attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
      maxZoom: 18,
      id: 'mapbox.streets',
      accessToken: 'pk.eyJ1IjoidGhvbWFzY2FsbHVtYnJvb2siLCJhIjoiY2pnNm9hOTUxMjlyNjJ3b2gybXl2OGpvNSJ9.6FSzBSK3H6063Afj38PSIQ'
  }).addTo(mymap);
  function onMapClick(event) {
    lat.value = event.latlng.lat;
    lon.value = event.latlng.lng;
    if (circle == undefined){
      addCircle(event);
      alert("Added catering region");
    }else {
      circle.remove();
      addCircle(event);
      alert("Changed catering region");
    }
  }
  mymap.addEventListener('click', onMapClick);
</script>
