<div id="signin-hero" style="background-image:url(<%= image_path('hero2.jpg') %>)">
  <div class="signin-container">
    <h2>Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="signin-field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-box"%>
      </div>

      <div class="signin-field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off", class:"form-box" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="signin-field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class="signin-actions">
        <%= f.submit "Log in" %>
      </div>
    <% end %>
    <div class="signin-devise-links">
      <%= render "devise/shared/links" %>
    </div>
  <div>
</div>
